html,body{height:100%}
* {margin: 0px; padding: 0px;}

body
{	
	color: #726258;
	font: 11px Verdana;
	text-align: center;
	
	background-color: #ede6d0;
	background-image:url(../images/bg_body.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

a, .location a {
	color: #660000;
	text-decoration: none;
}

.left a { color:#e47863; }
.left a:hover { text-decoration:underline; }

a img{
	text-decoration: none;
	border: none;
}

b{
	color: #77603c;
}

img{
	float: left;
	cursor: pointer;
}
	img.left { margin:0 10px 7px 0; }
	img.right { float:right; }
	img.border { border:1px solid #AF9366; }

h1, h2, h3{
	margin: 5px 0 5px 0;
	padding: 0px;
	
	font: 14px arial;
	font-weight: bold;
}

h2 { font-size:21px; }

p{
	margin: 5px 0 5px 0;
	padding: 5px 0 5px 0;
}
	p.headline { font-size:18px; }  

li{
	margin-left: 15px;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

.clearLeft{clear: left;}
.clearRight{clear: right;}
.clearFix{clear: both;}


/*
Button Styles
----------------*/
a.button {
  background: transparent url('../images/bg_button.gif') no-repeat scroll top left;
  display: block; float: left;
  line-height:24px; font-weight:bold;
  color:#fff; padding:0 0 0 10px;
  font-size:10px; text-transform:uppercase;
}
a.button span {
  background: transparent url('../images/bg_button.gif') no-repeat scroll top right;
  display: block;
  padding:0 18px 0 0;
}
	/*Custom Buttons*/
	a.btn_what-is-ushahidi { display:block; overflow:hidden; height:91px; width:236px; background:url(../images/what_is_ushahidi.jpg) bottom no-repeat; text-indent:-23223px; outline:none;}
	a.btn_what-is-ushahidi:hover { background:url(../images/what_is_ushahidi.jpg) top; }
	
	a.btn_download { color:#660000; padding-left:46px; line-height:32px; background:transparent url(../images/bg_button_download.gif) no-repeat top left; }
		a.btn_download:hover { background:transparent url(../images/bg_button_download.gif) no-repeat bottom left; }
	a.btn_download span { background:transparent url(../images/bg_button_download.gif) no-repeat top right; }
		a.btn_download:hover span { background:transparent url(../images/bg_button_download.gif) no-repeat bottom right; }

/*
Flag Styles
----------------*/
.flag-new { overflow:hidden; display:block; float:left; height:11px; width:23px; margin:2px 6px 0 0; text-indent:-23403px; background:url(../images/flag_new.gif) top left no-repeat; }


/*
	Newsroom - dynamic feed**************************************************************
*/

#blogs
	{
		margin:0 auto;
		min-height:520px;
		width:605px;
	}

#blogs h1
	{
		padding:0 0 10px 0;
		border-bottom:1px dotted silver;
	}

#blogs ul
	{
		margin-left:0px;
	}

#blogs li
	{
		list-style:none;
		border-bottom:1px dotted silver;
		padding:10px 0;
	}

#blogs p
	{
		margin:0;
		padding:5px 0;
		color:#999; !important
	}

.ushahidiColumn
	{
		padding:5px 5px 5px 15px;
	}
	
.ushahidiColumn2
	{
		padding:5px 5px 5px 15px;
	}
	
.feedColumn
	{
		background-color:white;
		padding:15px;
		width:250px;
	}

.banner
	{
		border:5px solid white;
	}

.rssIcon
	{
		float:right;
	}


/*
	**************************************************************
*/

div.big_wrapper
{
	width: 100%;
	height: 100px;
	display: block;
	float: left;
}

	div.big_wrapper_1
	{
		width: 100%;
		height: 72px;
		margin: 0px 0 30px;
		display: block;
		float: left;
		
		background-image:url(../images/bg_wrapper1.gif);
		background-position: top left;
		background-repeat: repeat-x;
	}
	
		* html div.big_wrapper_1{
			margin-bottom: 18px;
		}
	
	div.big_wrapper_2
	{
		width: 100%;
		display: block;
		float: left;
		
		background-image:url(../images/bg_wrapper2.gif);
		background-position: bottom left;
		background-repeat: repeat-x;
	}

div.wrapper
{
	width: 945px;
	display: block;
	text-align: left;
	margin: auto;
}

	div.wrapper_1{
		width: 945px;
		display: block;
		text-align: left;
		margin: auto;
	}
	div.wrapper_1 a.logo { display:block; margin:15px 0 0; float:left; }
		div.wrapper_1 p{
			width: 715px;
			padding: 0px;
			margin: 0px;			
			float: left;
			
			font: 17px arial;
			font-weight: bold;
			text-align: right;
		}
		
			div.wrapper_1 p a{
				height: 55px;
				padding-left: 25px;
				margin-left: 25px;
				display: inline-block;
				
				line-height: 95px;
				border-left: 2px dotted #d6c560;
			}
			
				div.wrapper_1 p a:hover{
					color: #77603c;
				}
				
				div.wrapper_1 p a.first{
					border: none;
				}
				
				div.wrapper_1 p a.me{
					color: #77603c;
				}
				
					* html div.wrapper_1 p a{
						height: 50px;
						line-height: 50px;
					}
	
	div.wrapper_2{
		width: 945px;
		display: block;
		text-align: left;
		margin: auto;
	}
	
		div.wrapper_2 div.content{
			width: 945px;
			padding-bottom: 20px;
			display: block;
			float: left;
			
			background-image:url(../images/bg_wrapper3.gif);
			background-position: bottom center;
			background-repeat: no-repeat;
			font-size:1.2em;
		}
			
	
div.left{
	width: 605px;
	margin-right: 65px;
	float: left;
	font-size:14px;
}

	* html div.left{
		margin-right: 32px;
	}
	
	div.content h1{
		margin-bottom: 5px;
		padding: 0 0 5px;
		
		color: #726258;
		font-size: 24px;
		
		border-bottom: 2px dotted #d2c04f;
	}
	
	div.left div.location{
		margin-bottom: 10px;
		text-align: left;
		font-size: 10px;
	}
	
		div.left div.location span{
			color: #77603c;
		}
		
	div.left div.left_holder{
		width: 300px;
		float: left;
	}
	
		div.left div.left_holder div.lh_top{
			width: 300px;
			height: 13px;
			float: left;
			display: block;
			
			background-position: bottom center;
			background-repeat: no-repeat;
		}
		
			* html div.left div.left_holder div.ch_top{
				margin-bottom: -4px;	
			}
		
		div.left div.left_holder div.lh_content{
			width: 270px;
			padding: 10px 15px 10px;
			float: left;
			font-size:11px;
			background-image:url(../images/bg_lhcenter.gif);
			background-position: top center;
			background-repeat: repeat-y;
		}
		
			div.left div.left_holder div.lh_content a.btn{
				height: 27px;
				display: block;
				
				background-position: top center;
				background-repeat: no-repeat;
			}
		
		div.left div.left_holder div.lh_bottom{
			width: 300px;
			height: 12px;
			margin-bottom: 10px;
			float: left;
			display: block;
			
			background-position: bottom center;
			background-repeat: no-repeat;
		}
		
			* html div.right div.column_holder div.lh_bottom{
				margin-top: -4px;
			}
			
		div.left h3{color: #cebd48;}
		
		div.left input.text{
			height: 20px;		
			color: #726258;
			border: 1px solid #e3e3df;
			margin-bottom:5px;
			padding:3px;
		}
		
		div.left .textarea{		
			color: #726258;
			border: 1px solid #e3e3df;
			margin-bottom:5px;
			padding:3px;
		}
		div.left .captcha{
			float:none;
			margin-bottom:5px;
		}				

div.right{
	width: 275px;
	float: left;
}

	div.right div.column_holder{
		width: 275px;
		float: left;
	}
	
		div.right div.column_holder div.ch_top{
			width: 275px;
			height: 9px;
			float: left;
			display: block;
			
			background-position: top left;
			background-repeat: no-repeat;
		}
		
			* html div.right div.column_holder div.ch_top{
				margin-bottom: -4px;	
			}
		
		div.right div.column_holder div.ch_content{
			width: 235px;
			padding: 10px 20px 10px;
			float: left;
			
			background-color: #f6f6ee;
		}
		
			div.right div.column_holder div.ch_content a:hover{
				text-decoration: underline;
			}
			
			div.right div.column_holder div.ch_content a.me{
				color: #77603c;
			}
		
		div.right div.column_holder div.ch_bottom{
			width: 275px;
			height: 9px;
			margin-bottom: 10px;
			float: left;
			display: block;
			
			background-position: bottom left;
			background-repeat: no-repeat;
		}
		
			* html div.right div.column_holder div.ch_bottom{
				margin-top: -4px;
			}
		
		h3.pt12{
			margin: 5px 0 5px 5px;
			padding: 0 0 5px;
			
			color: #660000;
			font-size: 12px;
			font-weight: normal;
			
			border-bottom: 2px dotted #d2c04f;
		}
		
		
			h3.no_border{color: #77603c; border: none;}
		
		
		h3.pt17{
			margin-bottom: 5px;
			padding: 0 0 5px;
			font-weight:bold;
			color: #726258;
			font-size: 17px;
			
			border-bottom: 2px dotted #d2c04f;
		}
		
		div.right div.column_holder input{
			float: left;
		}
		
			div.right div.column_holder input.text{
				height: 20px;
				
				color: #726258;
				border: 1px solid #e3e3df;
			}
			
		div.right div.column_holder ul{
			padding: 0 0 10px 5px;
			border-bottom: 2px dotted #d2c04f;
		}

			div.right div.column_holder li{
				height: 20px;		
				list-style-image:url(../images/bg_list.gif);
			}
			
		div.right a.right_links{
			margin-bottom: 4px;
			display: block;
			font-size: 12px;
		}
		
		
		div.big_holder div.big_top{
			width: 605px;
			height: 11px;
			display: block;
			float: left;
			
			background-image:url(../images/bg_bigcontenttop.gif);
			background-position: top left;
			background-repeat: no-repeat;
		}
		
			* html div.big_holder div.big_top{margin-bottom: -4px;}
		
		div.big_holder div.big_content{
			width: 565px;
			padding: 0px 20px 10px;
			float: left;
			font-size:11px;
			
			background-color: #f6f6ee;
		}
		
		div.big_holder p{width: 230px; float: left;}
		
		div.big_holder div.big_bottom{
			width: 605px;
			height: 11px;
			display: block;
			float: left;
			
			background-image:url(../images/bg_bigcontentbottom.gif);
			background-position: top left;
			background-repeat: no-repeat;
		}
		
	div.column_holder div.ch_content ul.bordered{
		padding: 0px;
		border: none;
		display: block;
		float: left;
	}
	
		div.column_holder div.ch_content ul.bordered li{
			height: auto;
			padding: 10px 0 10px;
			margin: 0px;
			display: block;
			float: left;
		
			border-bottom: 2px dotted #d2c04f;
			list-style-image: none;
			list-style-type: none;
		}
		
			div.column_holder div.ch_content ul.bordered li p{
				width: 170px;
				padding: 0px;
				margin: 0 0 0 10px;
				display: block;
				float: left;
			}
			
				* html div.column_holder div.ch_content ul.bordered li p{margin-left: 5px;}

div.footer{
	width: 945px;
	margin: 20px 0 20px;
	padding-bottom: 20px;
	float: left;
	
	color: #660000;
	font-size: 10px;
}

	div.footer a{ margin-right: 7px; }
	
	.footer-column { clear:both;}
	.footer-column h5 { font-size:12px; font-weight:bold; display:none; }
	.footer-column ul { margin:0;}
	.footer-column ul li { list-style-type:none; display:block; float:left; margin:0 0 5px; padding:0 2px 0 10px; background:transparent url(../images/icons/bullet.png) 0 8px no-repeat; }
		.footer-column ul li.first { background:none; }
	.footer-column ul li a { display:block; padding:3px; }
	.footer-column ul li a:hover { text-decoration:underline; }

img.add_border{
	border: 3px solid #fff;
}

.show_error{
	font:18px bold Verdana, Arial, Helvetica, sans-serif;
	color:#990000;
}

/*
Newsroom Page
------------------*/
	#promo-left, #promo-right { padding:5px 15px 0px }
	#promo-right p {  }
	
	.faded-module { background:transparent url(../images/bg_faded-module.gif) top center no-repeat; padding:10px 15px; }
		.faded-module p { margin-top:0; padding-top:0; }
	p.quote { font-size:12px; font-weight:normal;   }
	p.quote span { display:block; font-weight:normal; margin:5px 18px 27px 0; text-align:right; }
	p.read-more { text-align:right; padding-bottom:0; font-weight:bold; font-size:11px; border-top:2px dotted #D2C04F; padding-top:5px; }

/*
In The News Page
------------------*/
	.news-clips td { vertical-align:top; }
	
	.news-clips p { font-size:11px; overflow:visible; }
	.news-clips p a { display:block; float:left; }
	
/*

Email Lists
------------------*/
#ez_container
{
	text-align: left;
	/* background-color: white; */
	padding:25px;
	margin: 25px auto 25px auto;
	border-color: #d2c04f;
	border-width: 1px;
	border-style: dotted;
}
#ez_container a { color: #990000; }
#ez_container pre { font-family: Monaco, Courier; font-size: 10px }
#ez_container pre, #ez_container iframe { margin-top: 20px }

#ez_container a:hover
{
	color: #001931;
	background-color: #efefef;
}

.ez_header
{
	font-size: 1.5em;
	color: #660000;
	border-bottom: #999;
	border-width: 0 0 2px 0;
	border-style: none none dotted none;
	margin: 0 0 20px 0;
}

.ez_header span{
	margin-left:10px;
	padding:5px;
}

.ez_infoblock{
	margin:15px 0 10px 10px;
}
#ez_container .ez_infoblock_item{
	color:#666;
}
.ez_info{
	display:none;
}
.ez_footer
{
	font-size: 0.8em;
	color: #333;
	border-top: #999;
	border-width: 2px 0 0 0;
	border-style: dotted none dotted none;
	padding: 5px 0 0 0;
	margin: 30px 0 0 0;
	text-align: right;
}

.ez_welcome{
	margin:0 0 20px 0;
}
.ez_pagetitle {
	color: #77603c;
	margin:15px 0 10px 0;
}

.ez_medium
{
	font-size: 0.9em;
	padding: 0 0 0 30px;
}

#ez_menubar
{
	padding: 0px;
	border-color: #B3B3B3;
	border-width: 0px;
	border-style: solid;
	font-size: 0.8em;
}

.ez_label { font-weight: bold; }
#ez_msg { padding: 0 0 0 20px; }

#ez_msg #ez_header
{
	border-left: #800000;
	border-width: 0 0 0 2px;
	border-style: none none solid solid;
	padding: 0 0 0 5px;
}

#ez_msg .ez_quot { color: #990000; }
#ez_msg .ez_sign { color: #555; }

.ez_lists li{
	margin:0 0 15px 20px;
	border-bottom:1px dotted #999;
	padding-bottom:5px;
}
.ez_lists li h4{
	font-size:1.1em;
}

#ez_container ul{
	
}
#ez_container ul li{
	
}
ul.ez_threadlist li
{
	font-size: 0.9em;
	padding: 0 0 10px 0;
}
ul.ez_threadlist li ul li
{
	padding:0;
}